// .backDrop{
//     background-color: aliceblue;
//     width: 200px;
//     height: 200px;
// }
// .wrap{
//     background-color: aliceblue;
//     width: 200px;
//     height: 200px;
// }
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.caption {
  text-decoration: underline;
  padding: 5px 5px;
  min-width: auto;
}

dialog::backdrop {
  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
  // background-color: aqua;/
}

.closeButton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
