.dark-mode-loader {
  width: 100%;
  position: absolute;
  -moz-filter: blur(8px) !important;
  -ms-filter: blur(8px) !important;
  -o-filter: blur(8px) !important;
  filter: blur(8px) !important;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  height: 100%;
  position: absolute;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
