button:nth-child(1) {
  flex-basis: 20%;
}
button:nth-child(2) {
  flex-basis: 20%;
}
.dateSelector {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}
.ag-theme-alpine-dark {
}
