.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.carouselContainer {
  overflow: auto !important;
  position: relative;
  max-width: 800px;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
}
